{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Awesome{% endblock %}</title>

    {% block stylesheets %}
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
     <link href="/css/main.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <div id="header" class="hero-unit box">
        <a href="{{ path('fbeck_home_home') }}"><h1>Awesome Things</h1></a>
        <p>The site about awesome things.  If it's awesome, it's on here.  If it's not on here, it's not awesome. </br> Simple as. </p>
        {#<p><a class="btn btn-primary btn-large" href="http://www.siteduzero.com/informatique/tutoriels/developpez-votre-site-web-avec-le-framework-symfony2">
          Lire le tutoriel »
        </a></p>#}
      </div>

      <div class="status box">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span>Logged in as {{ app.user.username }} </span> <span> <a href="{{ path('fos_user_security_logout') }}">Log out</a> </span>
        {% if is_granted("ROLE_ADMIN") %}
          <span><a href="{{ path('fbeck_admin_homepage') }}">Admin</a></span>
        {% endif %}
      {% else %}
        <span><a href="{{ path('fos_user_security_login') }}">Log in</a></span>
      {% endif %}
      </div>

      <div class="row-fluid">
        <div id="menu" class="span3 box">
          <div>
            <h2>The Blog</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="{{ path('fbeck_blog_home') }}">Blog home</a></li>
              <li><a href="{{ path('fbeck_blog_add') }}">Add an article</a></li>
            </ul>
                      
            {{ render(controller("fbeckBlogBundle:Blog:menu", {'nombre': 3})) }}
          <a class="contact" href="{{ path('fbeck_home_contact') }}"><p>Contact us!</p></a>
          </div>
        </div>
        <div id="content" class="span9">
          <div class="main_body">
            {% block body %}
            {% endblock %}
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>© fbeck 2014</p>
      </footer>
    </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  {% endblock %}

  </body>
</html>