{# src/fbeck/AdminBundle/Resources/views/Home/view.html.twig #}

{% extends "fbeckAdminBundle::layout.html.twig" %}

{% block fbeck_admin_body %}

  <div class="user">
  <h2>User {{ user.id }} - {{ user.username }}</h2>
  <p> Username : {{ user.username }} </p>
  <p> Email : {{ user.email }} </p>
  <p> Roles : 
  	{% for role in user.roles %}
  		{{ role }}
  	{% endfor %}
  </p>
  </div>

  <p>
    <a href="{{ path('fbeck_admin_homepage') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Back to the list
    </a>
    <a href="{{ path('fbeck_admin_edit', {'id': user.id}) }}" class="btn">
      <i class="icon-edit"></i>
      Edit user
    </a>
    <a href="{{ path('fbeck_admin_delete', {'id': user.id}) }}" class="btn">
      <i class="icon-trash"></i>
      Delete this user
    </a>
  </p>

  
{% endblock %}